<!DOCTYPE html>
<html lang="zxx">

<head>

    <!-- Metas -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="keywords" content="HTML5 Template Vie onepage themeforest" />
    <meta name="description" content="Vie - Onepage Multi-Purpose HTML5 Template" />
    <meta name="author" content="" />

    <!-- Title  -->
    <title>Bidlersegde</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="vie-dark/img/auc_icon.png" />

     <!-- Google Fonts -->
     <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
     rel="stylesheet">
    <link
     href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800;900&display=swap"
     rel="stylesheet">


    <!-- Plugins -->
    <link rel="stylesheet" href="vie-dark/css/plugins.css" />

    <!-- Core Style Css -->
    <link rel="stylesheet" href="vie-dark/css/style.css" />

    <!-- Arch style -->
    <link rel="stylesheet" href="vie-dark/css/arch-skin.css" />


</head>

<body class="position-r">



    <!-- ==================== Start Loading ==================== -->

    <div class="loading">
        <span>L</span>
        <span>o</span>
        <span>a</span>
        <span>d</span>
        <span>i</span>
        <span>n</span>
        <span>g</span>
    </div>

    <div id="preloader">
    </div>

    <!-- ==================== End Loading ==================== -->

    

    <!-- ==================== Start cursor ==================== -->

    <div class="mouse-cursor cursor-outer"></div>
    <div class="mouse-cursor cursor-inner"></div>

    <!-- ==================== End cursor ==================== -->



    <!-- ==================== Start Navbar ==================== -->

    <nav class="navbar navbar-expand-lg">
        <div class="container">

            <!-- Logo -->
            <a class="logo" href="/admin">
                <img src="vie-dark/img/auc_icon.png" alt="logo">
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icon-bar"><i class="fas fa-bars"></i></span>
            </button>

            <!-- navbar links -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" >Hi admin</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/" class="btn btn-custom" >Sign out</a></li>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- ==================== End Navbar ==================== -->


    <div class="main-content">


 <!-- ==================== Start About ==================== -->

 <section class="about-ar section-padding">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 valign">
				<div class="img">
					<div class="bg-img bg-fixed hero-bg" data-background="img/arch/hero.jpg"></div>
					<div class="exp valign text-center">
						<div class="full-width">
							<h1 class="wow fadeIn" data-wow-delay=".3s">CREATE AUCTION ROOM</h1>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-8 valign">

				<section class="contact-sec style2 section-padding position-re bg-img" data-background="img/patrn1.png" data-scroll-index="7">
					<div class="container">
						<div class="row justify-content-center">
							<div class="col-lg-6 col-md-6">
							</div>
						</div>
						<div class="row justify-content-center">
							<div class="col-lg-10">
								<div class="form wow fadeInUp" data-wow-delay=".5s">
									<form  method="post" action="/open_room_db">
			
										<div class="controls">
			
											<div class="row">
												<div class="col-lg-12">
													<div class="form-group">
														<h6>Time Open</h6>
														<input id="time_open" type="time" name="time_open" placeholder="time open"
														>
													</div>
												</div>
												<div class="col-lg-12">
													<div class="form-group">
														<h6>Time Close</h6>
														<input id="time_close_door" type="time" name="time_close_door" placeholder="time close"
														>
													</div>
												</div>
												<div class="col-lg-12">
													<div class="form-group">
														<h6>Time Finish</h6>
														<input id="time_finish" type="time" name="time_finish" placeholder="time finish"
														>
													</div>
												</div>
												<div class="col-12">
													<div class="form-group">
														<h6>Date</h6>
														<input id="auction_day" type="date" name="auction_day" placeholder="date"
															>
													</div>
												</div>
												<div class="col-12">
													<div class="text-center">
														<input type="submit" name="submit" id="submit" class="butn light mt-30 full-width" value = "Create" >
													</div>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</section>
			
			</div>
		</div>
	</div>
</section>

<!-- ==================== End About ==================== -->




    <!-- jQuery -->
    <script src="vie-dark/js/jquery-3.0.0.min.js"></script>
    <script src="vie-dark/js/jquery-migrate-3.0.0.min.js"></script>

    <!-- plugins -->
    <script src="vie-dark/js/plugins.js"></script>

    <!-- custom scripts -->
    <script src="vie-dark/js/scripts.js"></script>

</body>

</html>