<!DOCTYPE html>
<html lang="zxx">

<head>

    <!-- Metas -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="keywords" content="HTML5 Template Vie onepage themeforest" />
    <meta name="description" content="Vie - Onepage Multi-Purpose HTML5 Template" />
    <meta name="author" content="" />

    <!-- Title  -->
    <title>Bidlersegde</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="vie-dark/img/auc_icon.png" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- Plugins -->
    <link rel="stylesheet" href="vie-dark/css/plugins.css" />

    <!-- Core Style Css -->
    <link rel="stylesheet" href="vie-dark/css/style.css" />


</head>

<body class="position-r">



    <!-- ==================== Start Loading ==================== -->

    <div class="loading">
        <span>L</span>
        <span>o</span>
        <span>a</span>
        <span>d</span>
        <span>i</span>
        <span>n</span>
        <span>g</span>
    </div>

    <div id="preloader">
    </div>

    <!-- ==================== End Loading ==================== -->

    

    <!-- ==================== Start cursor ==================== -->

    <div class="mouse-cursor cursor-outer"></div>
    <div class="mouse-cursor cursor-inner"></div>

    <!-- ==================== End cursor ==================== -->



    <!-- ==================== Start Navbar ==================== -->

    <nav class="navbar navbar-expand-lg">
        <div class="container">

            <!-- Logo -->
            <a class="logo" href="#">
                <img src="vie-dark/img/auc_icon.png" alt="logo">
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icon-bar"><i class="fas fa-bars"></i></span>
            </button>

            <!-- navbar links -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">History</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Cart</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/login" class="btn btn-custom" >Sign in</a></li>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- ==================== End Navbar ==================== -->



    <!-- ==================== Start Slider ==================== -->

    <header class="slider slider-prlx fixed-slider text-center" data-scroll-index="0">
        <div class="swiper-container parallax-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="bg-img valign" data-background="vie-dark/img/pic_slide1.jpg" data-overlay-dark="6">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8 col-md-10">
                                    <div class="caption center mt-30">
                                        <h1>Auction <span class="color-font">in real time</span> <br> <span
                                                class="color-font">via</span> website   </h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="bg-img valign" data-background="vie-dark/img/pic_slide2.png" data-overlay-dark="6">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-7 col-md-9">
                                    <div class="caption center mt-30">
                                        <h1 class="color-font">Live <br> Streaming</h1>
                                        <p>You can see product and Seller via live streaming while biding</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="bg-img valign" data-background="vie-dark/img/pic_slide3.jpg" data-overlay-dark="6">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-7 col-md-9">
                                    <div class="caption center mt-30">
                                        <h1 class="color-font">Choose Product</h1>
                                        <p>What ever you need, you can find in our website</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- slider setting -->
            <div class="setone setwo">
                <div class="swiper-button-next swiper-nav-ctrl next-ctrl cursor-pointer">
                    <i class="fas fa-chevron-right"></i>
                </div>
                <div class="swiper-button-prev swiper-nav-ctrl prev-ctrl cursor-pointer">
                    <i class="fas fa-chevron-left"></i>
                </div>
            </div>
            <div class="swiper-pagination top botm "></div>

            <div class="social-icon">
                <a href="#0"><i class="fab fa-facebook-f"></i></a>
                <a href="#0"><i class="fab fa-twitter"></i></a>
                <a href="#0"><i class="fab fa-behance"></i></a>
                <a href="#0"><i class="fab fa-pinterest-p"></i></a>
            </div>
        </div>
    </header>

    <!-- ==================== End Slider ==================== -->


    <div class="main-content">


        <!-- ==================== Start about ==================== -->

        <div class="about section-padding" data-scroll-index="1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="img-mons sm-mb30">
                            <div class="row">
                                <div class="col-md-5 cmd-padding valign">
                                    <div class="img1 wow imago" data-wow-delay=".5s">
                                        <img src="vie-dark/img/Programmer1.png" alt="">
                                    </div>
                                </div>
                                <div class="col-md-7 cmd-padding">
                                    <div class="img2 wow imago" data-wow-delay=".3s">
                                        <img src="vie-dark/img/Programmer2.jpeg" alt="">
                                    </div>
                                    <div class="img3 wow imago" data-wow-delay=".8s">
                                        <img src="vie-dark/img/Programmer3.jpeg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 offset-lg-1 valign">
                        <div class="content">
                            <div class="sub-title">
                                <h6>About Us</h6>
                            </div>
                            <h3 class="main-title wow" data-splitting>We are student at SIIT <br> from Digital Engineering.</h3>
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ==================== End about ==================== -->



        <!-- ==================== Start Services ==================== -->

        <section class="services bords section-padding position-re" data-scroll-index="2">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-md-10">
                        <div class="sec-head  text-center">
                            <h6 class="wow fadeIn" data-wow-delay=".5s">Features</h6>
                            <h3 class="wow color-font">Choose features what you want</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 wow fadeInLeft" data-wow-delay=".5s">
                        <div class="item-box md-mb50">
                            <span class="icon pe-7s-paint-bucket"></span>
                            <h6>Auction Room</h6>
                            <p>Find product that you need</p>
                            <a data-scroll-nav="3" class="butn bord curve mt-30">
                              <span data-scroll-nav="3"> Go </span>
                          </a>
                        </div>
                    </div>
                    <div class="col-lg-4 wow fadeInLeft" data-wow-delay=".7s">
                        <div class="item-box md-mb50">
                            <span class="icon pe-7s-phone"></span>
                            <h6>Register Item</h6>
                            <p>Register your product for sell in auction</p>
                            <a href="/login" class="butn bord curve mt-30">
                              <span>Register</span>
                          </a>
                        </div>
                    </div>
                    <div class="col-lg-4 wow fadeInLeft" data-wow-delay=".9s">
                        <div class="item-box">
                            <span class="icon pe-7s-display1"></span>
                            <h6>Reserve room</h6>
                            <p>Reserve room to open your auction room</p>
                            <a href="/login" class="butn bord curve mt-30">
                              <span>Reserve</span>
                          </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="line top left"></div>
            <div class="line bottom right"></div>
        </section>

        <!-- ==================== End Services ==================== -->


    <!-- ==================== Start works ==================== -->

    <section class="portfolio po-arch section-padding pb-70" data-scroll-index="3">
      <div class="container">
          <div class="row justify-content-center">
              <div class="col-lg-8 col-md-10">
                  <div class="sec-head  text-center">
                      <h2 class="wow fadeIn" data-wow-delay=".3s">Auction room</h2>
                  </div>
              </div>
          </div>
      </div>
      <div class="container">
          <div class="row">

              <!-- gallery -->
              <div class="gallery full-width">

                  <!-- gallery item -->
                  <!-- Room -->
                <% Object.values(room).forEach(function(room){%>
                  <div class="col-md-6 items graphic lg-mr wow fadeInUp" data-wow-delay=".4s">
                      <div class="item-img">
                          <a href="/login" class="imago wow">
                              <img src="vie-dark/img/arch/work/1.jpg" alt="image">
                              <div class="item-img-overlay"></div>
                          </a>
                      </div>
                      <div class="cont">
                          <h5 href="/login">Item name</h5>
                          <span class="tags main-color custom-font">
                            <a>Time open: <%= room.time_open%></a></br>
                            <a>Time close: <%= room.time_close_door%></a></br>
                            <a>Time finish: <%= room.time_finish%></a></br>
                            <a>Date: <%= room.auction_day%></a>
                          </span>
                      </div>
                  </div>
                  <% }) %>

              </div>

          </div>
      </div>
  </section>

  <!-- ==================== End works ==================== -->




        <!-- ==================== Start Footer ==================== -->

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="item md-mb50">
                            <div class="title">
                                <h5>Contact Us</h5>
                            </div>
                            <ul>
                                <li>
                                    <span class="icon pe-7s-map-marker"></span>
                                    <div class="cont">
                                        <h6>Officeal Address</h6>
                                        <p>504 White St . Dawsonville,
                                            GA 30534 , New York</p>
                                    </div>
                                </li>
                                <li>
                                    <span class="icon pe-7s-mail"></span>
                                    <div class="cont">
                                        <h6>Email Us</h6>
                                        <p>support@gmail.com</p>
                                    </div>
                                </li>
                                <li>
                                    <span class="icon pe-7s-call"></span>
                                    <div class="cont">
                                        <h6>Call Us</h6>
                                        <p>+87986451666</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
  
                    <div class="col-lg-4">
                        <div class="item">
                            <div class="logo">
                                <img src="" alt="">
                            </div>
                            <div class="social">
                                <a href="#0"><i class="fab fa-facebook-f"></i></a>
                                <a href="#0"><i class="fab fa-twitter"></i></a>
                                <a href="#0"><i class="fab fa-instagram"></i></a>
                                <a href="#0"><i class="fab fa-youtube"></i></a>
                            </div>
                            <div class="copy-right">
                                <p>© 2021, Vie Template. Made with passion by <a href="#0">UI-ThemeZ</a>.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <!-- ==================== End Footer ==================== -->


    </div>




    <!-- jQuery -->
    <script src="vie-dark/js/jquery-3.0.0.min.js"></script>
    <script src="vie-dark/js/jquery-migrate-3.0.0.min.js"></script>

    <!-- plugins -->
    <script src="vie-dark/js/plugins.js"></script>

    <!-- custom scripts -->
    <script src="vie-dark/js/scripts.js"></script>

</body>

</html>