<!DOCTYPE html>
<html lang="zxx">

<head>

    <!-- Metas -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="keywords" content="HTML5 Template Vie onepage themeforest" />
    <meta name="description" content="Vie - Onepage Multi-Purpose HTML5 Template" />
    <meta name="author" content="" />

    <!-- Title  -->
    <title>Bidlersegde</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="vie-dark/img/favicon.ico" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- Plugins -->
    <link rel="stylesheet" href="vie-dark/css/plugins.css" />

    <!-- Core Style Css -->
    <link rel="stylesheet" href="vie-dark/css/style.css" />

     <!-- Arch style -->
     <link rel="stylesheet" href="vie-dark/css/arch-skin.css" />

</head>

<body class="position-r">



    <!-- ==================== Start Loading ==================== -->

    <div class="loading">
        <span>L</span>
        <span>o</span>
        <span>a</span>
        <span>d</span>
        <span>i</span>
        <span>n</span>
        <span>g</span>
    </div>

    <div id="preloader">
    </div>

    <!-- ==================== End Loading ==================== -->

    

    <!-- ==================== Start cursor ==================== -->

    <div class="mouse-cursor cursor-outer"></div>
    <div class="mouse-cursor cursor-inner"></div>

    <!-- ==================== End cursor ==================== -->



    <!-- ==================== Start Navbar ==================== -->

    <nav class="navbar navbar-expand-lg">
        <div class="container">

            <!-- Logo -->
            <a class="logo" href="#">
                <img src="vie-dark/img/logo-light.png" alt="logo">
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icon-bar"><i class="fas fa-bars"></i></span>
            </button>

            <!-- navbar links -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#0"
                            data-scroll-nav="0">Home</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="index.html">Main Home</a>
                            <a class="dropdown-item" href="index2.html">Creative Agency</a>
                            <a class="dropdown-item" href="index5.html">Digital Agency</a>
                            <a class="dropdown-item" href="index4.html">Business One Page</a>
                            <a class="dropdown-item" href="index3.html">Corporate Business</a>
                            <a class="dropdown-item" href="index6.html">Modern Agency</a>
                            <a class="dropdown-item" href="index7.html">Freelancer</a>
                            <a class="dropdown-item" href="index8.html">Architecture</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="30" data-scroll-nav="1">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#0" data-scroll-nav="2">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#0" data-scroll-nav="3">Works</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#0" data-scroll-nav="4">testimonials</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#0" data-scroll-nav="5">Team</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#0" data-scroll-nav="6">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#0" data-scroll-nav="7">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- ==================== End Navbar ==================== -->



    <!-- ==================== Start Slider ==================== -->

    <header class="slider slider-prlx fixed-slider text-center" data-scroll-index="0">
        <div class="swiper-container parallax-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="bg-img valign" data-background="vie-dark/img/slid/01.jpg" data-overlay-dark="6">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8 col-md-10">
                                    <div class="caption center mt-30">
                                        <h1>Business <span class="color-font">value</span> <br> <span
                                                class="color-font">through</span> digital <span
                                                class="color-font">products</span></h1>
                                        <a href="#0" class="butn bord curve mt-30">
                                            <span>Look More</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="bg-img valign" data-background="vie-dark/img/slid/03.jpg" data-overlay-dark="6">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-7 col-md-9">
                                    <div class="caption center mt-30">
                                        <h1 class="color-font">Digital <br> Design Awards</h1>
                                        <p>If you need to redesign your new project, new visual strategy, ux structure
                                            or you do have some cool ideas for collaboration.</p>
                                        <a href="#0" class="butn bord curve mt-30">
                                            <span>Look More</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="bg-img valign" data-background="vie-dark/img/slid/02.jpg" data-overlay-dark="6">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-7 col-md-9">
                                    <div class="caption center mt-30">
                                        <h1 class="color-font">Original Solutions</h1>
                                        <p>If you need to redesign your new project, new visual strategy, ux structure
                                            or you do have some cool ideas for collaboration.</p>
                                        <a href="#0" class="butn bord curve mt-30">
                                            <span>Look More</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- slider setting -->
            <div class="setone setwo">
                <div class="swiper-button-next swiper-nav-ctrl next-ctrl cursor-pointer">
                    <i class="fas fa-chevron-right"></i>
                </div>
                <div class="swiper-button-prev swiper-nav-ctrl prev-ctrl cursor-pointer">
                    <i class="fas fa-chevron-left"></i>
                </div>
            </div>
            <div class="swiper-pagination top botm "></div>

            <div class="social-icon">
                <a href="#0"><i class="fab fa-facebook-f"></i></a>
                <a href="#0"><i class="fab fa-twitter"></i></a>
                <a href="#0"><i class="fab fa-behance"></i></a>
                <a href="#0"><i class="fab fa-pinterest-p"></i></a>
            </div>
        </div>
    </header>

    <!-- ==================== End Slider ==================== -->


    <div class="main-content">


        <!-- ==================== Start about ==================== -->

        <div class="about section-padding" data-scroll-index="1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="img-mons sm-mb30">
                            <div class="row">
                                <div class="col-md-5 cmd-padding valign">
                                    <div class="img1 wow imago" data-wow-delay=".5s">
                                        <img src="vie-dark/img/intro/1.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col-md-7 cmd-padding">
                                    <div class="img2 wow imago" data-wow-delay=".3s">
                                        <img src="vie-dark/img/intro/3.jpg" alt="">
                                    </div>
                                    <div class="img3 wow imago" data-wow-delay=".8s">
                                        <img src="img/intro/2.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 offset-lg-1 valign">
                        <div class="content">
                            <div class="sub-title">
                                <h6>About Us</h6>
                            </div>
                            <h3 class="main-title wow" data-splitting>We are more than just <br> a digital agency.</h3>
                            <p class="wow txt" data-splitting>We are Vie. We create award-winning websites, remarkable
                                brands and cutting-edge
                                apps.Nullam
                                imperdiet, sem at fringilla lobortis, sem nibh fringilla nibh, id gravida mi purus sit
                                amet
                                erat. Ut dictum nisi masvitp</p>
                            <div class="ftbox mt-30">
                                <ul>
                                    <li class="wow fadeIn" data-wow-delay=".3s">
                                        <span class="icon color-font pe-7s-gleam"></span>
                                        <h6>Pixel <br> Perfect</h6>
                                        <div class="dots">
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                        </div>
                                    </li>
                                    <li class="space wow fadeIn" data-wow-delay=".5s">
                                        <span class="icon color-font pe-7s-paint-bucket"></span>
                                        <h6>Creative <br> Design</h6>
                                        <div class="dots">
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                        </div>
                                    </li>
                                    <li class="wow fadeIn" data-wow-delay=".8s">
                                        <span class="icon color-font pe-7s-medal"></span>
                                        <h6>Heigh <br> Perfomance</h6>
                                        <div class="dots">
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ==================== End about ==================== -->



        <!-- ==================== Start Services ==================== -->

        <section class="services bords section-padding position-re" data-scroll-index="2">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-md-10">
                        <div class="sec-head  text-center">
                            <h6 class="wow fadeIn" data-wow-delay=".5s">Best Features</h6>
                            <h3 class="wow color-font">We are a new digital product development agency</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 wow fadeInLeft" data-wow-delay=".5s">
                        <div class="item-box md-mb50">
                            <span class="icon pe-7s-paint-bucket"></span>
                            <h6>Graphic Design</h6>
                            <p>Tempore corrupti temporibus fuga earum asperiores fugit laudantium.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 wow fadeInLeft" data-wow-delay=".7s">
                        <div class="item-box md-mb50">
                            <span class="icon pe-7s-phone"></span>
                            <h6>Web & Mobile Design</h6>
                            <p>Tempore corrupti temporibus fuga earum asperiores fugit.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 wow fadeInLeft" data-wow-delay=".9s">
                        <div class="item-box">
                            <span class="icon pe-7s-display1"></span>
                            <h6>Social media Marketing</h6>
                            <p>Tempore corrupti temporibus fuga earum asperiores fugit.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="line top left"></div>
            <div class="line bottom right"></div>
        </section>

        <!-- ==================== End Services ==================== -->


    <!-- ==================== Start works ==================== -->

    <section class="portfolio po-arch section-padding pb-70" data-scroll-index="3">
      <div class="container">
          <div class="row justify-content-center">
              <div class="col-lg-8 col-md-10">
                  <div class="sec-head  text-center">
                      <h2 class="wow fadeIn" data-wow-delay=".3s">Projects</h2>
                  </div>
              </div>
          </div>
      </div>
      <div class="container">
          <div class="row">

              <!-- filter links -->
              <div class="filtering col-12">
                  <div class="filter custom-font wow fadeIn" data-wow-delay=".5s">
                      <span data-filter='*' class="active">All</span>
                      <span data-filter='.brand'>Interior</span>
                      <span data-filter='.web'>Architecture</span>
                      <span data-filter='.graphic'>Residential</span>
                  </div>
              </div>

              <!-- gallery -->
              <div class="gallery full-width">

                  <!-- gallery item -->
                  <div class="col-md-6 items graphic lg-mr wow fadeInUp" data-wow-delay=".4s">
                      <div class="item-img">
                          <a href="project-details2.html" class="imago wow">
                              <img src="img/arch/work/1.jpg" alt="image">
                              <div class="item-img-overlay"></div>
                          </a>
                      </div>
                      <div class="cont">
                          <h5>BUGANVILLA HOUSE</h5>
                          <span class="tags main-color custom-font"><a href="#0">Arch</a>, <a
                                  href="#0">Interior</a></span>
                      </div>
                  </div>

                  <!-- gallery item -->
                  <div class="col-md-6 items web wow fadeInUp" data-wow-delay=".4s">
                      <div class="item-img">
                          <a href="project-details2.html" class="imago wow">
                              <img src="img/arch/work/2.jpg" alt="image">
                              <div class="item-img-overlay"></div>
                          </a>
                      </div>
                      <div class="cont">
                          <h5>The Concept</h5>
                          <span class="tags main-color custom-font"><a href="#0">Arch</a>, <a
                                  href="#0">Interior</a></span>
                      </div>
                  </div>

                  <!-- gallery item -->
                  <div class="col-md-6 items web wow fadeInUp" data-wow-delay=".4s">
                      <div class="item-img">
                          <a href="project-details2.html" class="imago wow">
                              <img src="img/arch/work/5.jpg" alt="image">
                              <div class="item-img-overlay"></div>
                          </a>
                      </div>
                      <div class="cont">
                          <h5>Private House</h5>
                          <span class="tags main-color custom-font"><a href="#0">Arch</a>, <a
                                  href="#0">Interior</a></span>
                      </div>
                  </div>

                  <!-- gallery item -->
                  <div class="col-md-6 items web graphic wow fadeInUp" data-wow-delay=".4s">
                      <div class="item-img">
                          <a href="project-details2.html" class="imago wow">
                              <img src="img/arch/work/3.jpg" alt="image">
                              <div class="item-img-overlay"></div>
                          </a>
                      </div>
                      <div class="cont">
                          <h5>Floating House Messinia</h5>
                          <span class="tags main-color custom-font"><a href="#0">Arch</a>, <a
                                  href="#0">Interior</a></span>
                      </div>
                  </div>

                  <!-- gallery item -->
                  <div class="col-md-6 items brand wow fadeInUp" data-wow-delay=".4s">
                      <div class="item-img">
                          <a href="project-details2.html" class="imago wow">
                              <img src="img/arch/work/4.jpg" alt="image">
                              <div class="item-img-overlay"></div>
                          </a>
                      </div>
                      <div class="cont">
                          <h5>
                              IN THE PINE FOREST</h5>
                          <span class="tags main-color custom-font"><a href="#0">Arch</a>, <a
                                  href="#0">Interior</a></span>
                      </div>
                  </div>

                  <!-- gallery item -->
                  <div class="col-md-6 items brand wow fadeInUp" data-wow-delay=".4s">
                      <div class="item-img">
                          <a href="project-details2.html" class="imago wow">
                              <img src="img/arch/work/6.jpg" alt="image">
                              <div class="item-img-overlay"></div>
                          </a>
                      </div>
                      <div class="cont">
                          <h5>VILLAS IN SOCHI</h5>
                          <span class="tags main-color custom-font"><a href="#0">Arch</a>, <a
                                  href="#0">Interior</a></span>
                      </div>
                  </div>

              </div>

          </div>
      </div>
  </section>

  <!-- ==================== End works ==================== -->




        <!-- ==================== Start Footer ==================== -->

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="item md-mb50">
                            <div class="title">
                                <h5>Contact Us</h5>
                            </div>
                            <ul>
                                <li>
                                    <span class="icon pe-7s-map-marker"></span>
                                    <div class="cont">
                                        <h6>Officeal Address</h6>
                                        <p>504 White St . Dawsonville,
                                            GA 30534 , New York</p>
                                    </div>
                                </li>
                                <li>
                                    <span class="icon pe-7s-mail"></span>
                                    <div class="cont">
                                        <h6>Email Us</h6>
                                        <p>support@gmail.com</p>
                                    </div>
                                </li>
                                <li>
                                    <span class="icon pe-7s-call"></span>
                                    <div class="cont">
                                        <h6>Call Us</h6>
                                        <p>+87986451666</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="item md-mb50">
                            <div class="title">
                                <h5>Recent News</h5>
                            </div>
                            <ul>
                                <li>
                                    <div class="img">
                                        <img src="vie-dark/img/blog/1.jpg" alt="">
                                    </div>
                                    <div class="sm-post">
                                        <p>The Start-Up Ultimate Guide to Make Your WordPress
                                            Journal.</p>
                                        <span class="date">14 sep 2021</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="img">
                                        <img src="vie-dark/img/blog/2.jpg" alt="">
                                    </div>
                                    <div class="sm-post">
                                        <p>The Start-Up Ultimate Guide to Make Your WordPress
                                            Journal.</p>
                                        <span class="date">14 sep 2021</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="subscribe">
                                        <input type="text" placeholder="Type Your Email">
                                        <span class="subs pe-7s-paper-plane"></span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="item">
                            <div class="logo">
                                <img src="vie-dark/img/logo-light.png" alt="">
                            </div>
                            <div class="social">
                                <a href="#0"><i class="fab fa-facebook-f"></i></a>
                                <a href="#0"><i class="fab fa-twitter"></i></a>
                                <a href="#0"><i class="fab fa-instagram"></i></a>
                                <a href="#0"><i class="fab fa-youtube"></i></a>
                            </div>
                            <div class="copy-right">
                                <p>© 2021, Vie Template. Made with passion by <a href="#0">UI-ThemeZ</a>.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <!-- ==================== End Footer ==================== -->


    </div>




    <!-- jQuery -->
    <script src="vie-dark/js/jquery-3.0.0.min.js"></script>
    <script src="vie-dark/js/jquery-migrate-3.0.0.min.js"></script>

    <!-- plugins -->
    <script src="vie-dark/js/plugins.js"></script>

    <!-- custom scripts -->
    <script src="vie-dark/js/scripts.js"></script>

</body>

</html>