<h1>Bidding System</h1>

  <h2>Item: Smartphone</h2>
  <p>Current Price: <span id="currentPrice">$100</span></p>

  <input type="number" id="bidAmount" placeholder="Enter your bid amount">
  <button onclick="placeBid()">Place Bid</button>

  <ul id="bidHistory">
    <!-- Bid history will be dynamically updated here -->
  </ul>

  <div class="row">
    <div class="col-3 valign">
        <div class="form-group">
            <div class="text-center">
                <a href="#" class="butn light mt-30 full-width">
                    <h6 class="ls3 text-u text-center">Bid</h6>
                </a>
            </div>
        </div>
    </div>
    <div class="col-5 valign">
        <div class="text-center">
            <a href="#" class="butn light mt-30 full-width">
                <h6 class="ls3 text-u">Bid minimum</h6>
            </a>
        </div>
    </div>
    <div class="col-3 valign">
        <div class="text-center">
            <a href="/payment" class="butn light mt-30 full-width">
                <h6 class="ls3 text-u">ฺBuy maximum</h6>
            </a>
        </div>
    </div>
</div>



Room.find().exec((err, doc_room) => {
    User.findOne({username: user_name, passwd: pass_wd}).exec((err, doc)=> {
        const user_id = doc._id;
        User.findById(user_id).exec((err,doc_user) =>{
            res.render('users.ejs', { room: doc_room, user:doc_user })
        })
    })
})