<!DOCTYPE html>
<html lang="zxx">
<head>
  
    <!-- Metas -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="keywords" content="HTML5 Template Vie onepage themeforest" />
    <meta name="description" content="Vie - Onepage Multi-Purpose HTML5 Template" />
    <meta name="author" content="" />

    <!-- Title  -->
    <title>Bidlersegde</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="vie-dark/img/auc_icon.png" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Khand:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <!-- Plugins -->
    <link rel="stylesheet" href="vie-dark/css/plugins.css" />

    <!-- Core Style Css -->
    <link rel="stylesheet" href="vie-dark/css/style.css" />

     <!-- Arch style -->
     <link rel="stylesheet" href="vie-dark/css/arch-skin.css" />

<body class="position-r">
    <!-- ==================== Start Loading ==================== -->

    <div class="loading">
        <span>L</span>
        <span>o</span>
        <span>a</span>
        <span>d</span>
        <span>i</span>
        <span>n</span>
        <span>g</span>
    </div>

    <div id="preloader">
    </div>

    <!-- ==================== End Loading ==================== -->

    
    <!-- ==================== Start About ==================== -->

    <section class="about-ar section-padding" data-scroll-index="1">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 valign">
                    <div class="img">
                        <div class="bg-img bg-fixed hero-bg" data-background="vie-dark/img/arch/hero.jpg"></div>
                        <div class="exp valign text-center">
                            <div class="full-width">
                                <h2 class="bg-img bg-fixed" data-background="vie-dark/img/arch/hero.jpg">Join</h2>
                                <p>Bidlersegde</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 valign">
                    <div class="content">
                        <h3>Login</h3>
                        <form name="loginform" id="loginform" method ="post" action="/check">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <p class="wow txt" >Username</p>
                                    <input id="username" type="text" name="username" placeholder="Enter Username"
                                maxlength="20" required="required">
                                </div>
                                <div class="form-group">
                                    <p class="wow txt" >Password</p>
                                    <input id="passwd" type="password" name="passwd" placeholder="Enter Password"
                                    maxlength="20" required="required">
                                </div>
                            </div>
                            <div class="text-center">
                                <input type="submit" class="butn light mt-30" value = "Login" >
                                <input type="button" class="butn light mt-30" value = "Register" onclick="location.href='/register'">
                            </div>
                            </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ==================== End About ==================== -->

    <!-- jQuery -->
    <script src="vie-dark/js/jquery-3.0.0.min.js"></script>
    <script src="vie-dark/js/jquery-migrate-3.0.0.min.js"></script>

    <!-- plugins -->
    <script src="vie-dark/js/plugins.js"></script>

    <!-- custom scripts -->
    <script src="vie-dark/js/scripts.js"></script>
    
</body>
 
</html>
