<!DOCTYPE html>
<html lang="zxx">

<head>

    <!-- Metas -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="keywords" content="HTML5 Template Vie onepage themeforest" />
    <meta name="description" content="Vie - Onepage Multi-Purpose HTML5 Template" />
    <meta name="author" content="" />

    <!-- Title  -->
    <title>Bidlersegde</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="vie-dark/img/auc_icon.png" />

     <!-- Google Fonts -->
     <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
     rel="stylesheet">
    <link
     href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800;900&display=swap"
     rel="stylesheet">


    <!-- Plugins -->
    <link rel="stylesheet" href="vie-dark/css/plugins.css" />

    <!-- Core Style Css -->
    <link rel="stylesheet" href="vie-dark/css/style.css" />

</head>

<body class="position-r">



    <!-- ==================== Start Loading ==================== -->

    <div class="loading">
        <span>L</span>
        <span>o</span>
        <span>a</span>
        <span>d</span>
        <span>i</span>
        <span>n</span>
        <span>g</span>
    </div>

    <div id="preloader">
    </div>

    <!-- ==================== End Loading ==================== -->

    

    <!-- ==================== Start cursor ==================== -->

    <div class="mouse-cursor cursor-outer"></div>
    <div class="mouse-cursor cursor-inner"></div>

    <!-- ==================== End cursor ==================== -->



    <!-- ==================== Start Services ==================== -->

    <section class="services box lficon section-padding position-re">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-10">
                    <div class="sec-head  text-center">
                        <h3 class="wow color-font">Payment</h3>
                        <h6 class="wow fadeIn" >chose your payment</h6>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 wow fadeInLeft" data-wow-delay=".5s">
                    <div class="item-box no-curve">
                        <div>
                            <span class="icon color-font pe-7s-phone"></span>
                        </div>
                        <div class="cont">
                            <h6>Credit Card</h6>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInLeft" data-wow-delay=".7s">
                    <div class="item-box no-curve">
                        <div>
                            <span class="icon color-font pe-7s-phone"></span>
                        </div>
                        <div class="cont">
                            <h6>PromptPay</h6>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInLeft" data-wow-delay=".9s">
                    <div class="item-box no-curve">
                        <div>
                            <span class="icon color-font pe-7s-phone"></span>
                        </div>
                        <div class="cont">
                            <h6>Online Banking</h6>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInLeft" data-wow-delay=".9s">
                    <div class="item-box no-curve">
                        <div>
                            <span class="icon color-font pe-7s-phone"></span>
                        </div>
                        <div class="cont">
                            <h6>Paypal</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="line bottom right"></div>
    </section>

    <!-- ==================== End Services ==================== -->






    </div>




    <!-- jQuery -->
    <script src="vie-dark/js/jquery-3.0.0.min.js"></script>
    <script src="vie-dark/js/jquery-migrate-3.0.0.min.js"></script>

    <!-- plugins -->
    <script src="vie-dark/js/plugins.js"></script>

    <!-- custom scripts -->
    <script src="vie-dark/js/scripts.js"></script>

</body>

</html>