<!Doctype html>
<html>
<head>
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="mystyle.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
  </script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style type="text/css">



</style>
</head>
<body>
  <!--Top-->
  <div class="topnav">
    <a href="/users">Home</a>
    <a class="nav-link btn-custom1" href="/register_item">Register Items</a>
    <a class="nav-link btn-custom1" href="/room">Book Rooms</a>
    <div class="search-container">
      <form action="/action_page.php">
        <input type="text" placeholder="Search.." name="search">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>
  </div>

  <div class="content">
    <fieldset style="border-radius: 9px; background-color: #96DAA6;">
      <legend>Item Information:</legend>
      
      <!--update database-->
      <form  action="/register_item_db" method="post">
        <div class="container">
          <div class="row">


            <!--Column1 add picc-->
            <div class="col">
              <div>
                <div class="mb-4 d-flex justify-content-center">
                    <img src="https://mdbootstrap.com/img/Photos/Others/placeholder.jpg"
                    alt="example placeholder" style="width: 300px;" />
                </div>
                <div class="d-flex justify-content-center">
                    <div class="btn btn-primary btn-rounded">
                        <label>Image</label>
					              <input type="file" name="item_pic" id="item_pic" >
                        <!-- <label class="form-label text-white m-1" for="customFile1">Add Image</label>
                        <input type="file" class="form-control d-none" id="customFile1" name="item_pic" /> -->
                    </div>
                </div>
                <div style="height:20px;background-color:#96DAA6;"></div>
              </div>
            </div>

            <!--Column2 Bid price--> 
            <div class="col">
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Begin price</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" name="begin_price" placeholder="Input Begin price">
              </div>
                <div style="height:20px;background-color:#96DAA6;"></div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Minimum bid price</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" name="min_bid" placeholder="Input minimum bid price">
              </div>
                <div style="height:20px;background-color:#96DAA6;"></div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Minimum selling price</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" name="min_sell" placeholder="Input minimum selling price">
              </div>
                <div style="height:20px;background-color:#96DAA6;"></div>
            </div>

            <!--Column 3 Information--> 
            <div class="col">
              <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group mb-3">
                  <label for="basic-url"></label>
                  <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Name</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" name="item_name" placeholder="Input the item name">
                  </div>
                  <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Item description</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="6" name="item_descrip" placeholder="Input Item Description"></textarea>
                  </div>
                </div>
              </div>
              </div>
            </div>
          
            <!--Scar Part--> 
            <div class="w-100"></div>
            <legend>Scar description:</legend>
            <div class="col">
              <div>
                <div class="mb-4 d-flex justify-content-center">
                  <img src="https://mdbootstrap.com/img/Photos/Others/placeholder.jpg"
                  alt="example placeholder" style="width: 300px;" />
                </div>
                <div class="d-flex justify-content-center">
                  <div class="btn btn-primary btn-rounded">
                    <label>Image</label>
					          <input type="file" name="scar_pic" id="scar_pic" >
                    <!-- <label class="form-label text-white m-1" for="customFile1">Add image</label>
                    <input type="file" class="form-control d-none" id="customFile1" name="scar_pic" /> -->
                  </div>
                </div>
                <div style="height:20px;background-color:#96DAA6;"></div>
              </div>
            </div>
            <div class="col">
              <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Scar description</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="6" placeholder="Input Scar Description" name="scar_descrip"></textarea>
              </div>
            </div>
          </div>
        </div>
      
        </fieldset>
        </div>

        <div class="col border-end d-flex justify-content-center align-items-end">
          <div class="column">
          <!--<input class="btn btn-primary" type="submit" value="More">-->
          <input class="btn btn-primary" type="submit" name="submit" value="submit" >
          </div>  
        </div>  
      </form>  
<script src="js/bootstrap.min.js"></script>   



</body>
</html>

<script>  
$(document).ready(function(){  
      $('#insert').click(function(){  
          var image_name = $('#image').val();  
          if(image_name == '')  
          {  
                alert("Please Select Image");  
                return false;  
          }  
          else  
          {  
                var extension = $('#image').val().split('.').pop().toLowerCase();  
                if(jQuery.inArray(extension, ['gif','png','jpg','jpeg']) == -1)  
                {  
                    alert('Invalid Image File');  
                    $('#image').val('');  
                    return false;  
                }  
          }  
      });  
});  