<!Doctype html>
<html>
<head>
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="mystyle.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
  </script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style type="text/css">
</style>

<!--contact vie-dark-->
<!-- Metas -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<meta name="keywords" content="HTML5 Template Vie onepage themeforest" />
<meta name="description" content="Vie - Onepage Multi-Purpose HTML5 Template" />
<meta name="author" content="" />




<!-- Title  -->
<title>BidslerEdge</title>

<!-- Favicon -->
<link rel="shortcut icon" href="vie-dark/img/favicon.ico" />

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
    rel="stylesheet">
<link
    href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">

<!-- Plugins -->
<link rel="stylesheet" href="vie-dark/css/plugins.css" />

<!-- Core Style Css -->
<link rel="stylesheet" href="vie-dark/css/style.css" />

<!------------------index 5----------------------->
<!-- Metas -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<meta name="keywords" content="HTML5 Template Vie onepage themeforest" />
<meta name="description" content="Vie - Onepage Multi-Purpose HTML5 Template" />
<meta name="author" content="" />

<!-- Title  -->
<title>BidslerEdge</title>

<!-- Favicon -->
<link rel="shortcut icon" href="vie-dark/img/favicon.ico" />

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
    rel="stylesheet">
<link
    href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">

<!-- Plugins -->
<link rel="stylesheet" href="vie-dark/css/plugins.css" />

<!-- Core Style Css -->
<link rel="stylesheet" href="vie-dark/css/style.css" />




<!---------------------- upload pictures-------------------->
<link
      class="jsbin"
      href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css"
      rel="stylesheet"
      type="text/css"
    />
    <script
      class="jsbin"
      src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"
    ></script>
    <script
      class="jsbin"
      src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"
    ></script>
    <meta charset="utf-8" />
    <title>JS Bin</title>
    <!--[if IE]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <style>
      article,
      aside,
      figure,
      footer,
      header,
      hgroup,
      menu,
      nav,
      section {
        display: block;
      }
    </style>

</head>
<body>
  <!-- ==================== Start Loading ==================== -->

  <div class="loading">
    <span>L</span>
    <span>o</span>
    <span>a</span>
    <span>d</span>
    <span>i</span>
    <span>n</span>
    <span>g</span>
  </div>

  <div id="preloader">
  </div>

  <!-- ==================== End Loading ==================== -->


  <!-- ==================== Start progress-scroll-button ==================== -->

  <div class="progress-wrap cursor-pointer">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
    </svg>
  </div>

  <!-- ==================== End progress-scroll-button ==================== -->


  <!-- ==================== Start cursor ==================== -->

  <div class="mouse-cursor cursor-outer"></div>
  <div class="mouse-cursor cursor-inner"></div>

  <!-- ==================== End cursor ==================== -->

<<<<<<< HEAD
=======
  <!-- ==================== Start Navbar ==================== -->

  <nav class="navbar navbar-expand-lg">
    <div class="container">

      <!-- Logo -->
      <a class="logo" href="#">
        <img src="vie-dark/img/logo-light.png" alt="logo">
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="icon-bar"><i class="fas fa-bars"></i></span>
      </button>

      <!-- navbar links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
              aria-haspopup="true" aria-expanded="false">Home</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="index.html">Main Home</a>
              <a class="dropdown-item" href="index2.html">Creative Agency</a>
              <a class="dropdown-item" href="index5.html">Digital Agency</a>
              <a class="dropdown-item" href="index4.html">Business One Page</a>
              <a class="dropdown-item" href="index3.html">Corporate Business</a>
              <a class="dropdown-item" href="index6.html">Modern Agency</a>
              <a class="dropdown-item" href="index7.html">Freelancer</a>
              <a class="dropdown-item" href="index8.html">Architecture</a>
            </div>
          </li>
                  <li class="nav-item">
                      <a class="nav-link" href="vie-dark/about.html">About</a>
                  </li>
                  <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                aria-haspopup="true" aria-expanded="false">Works</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="vie-dark/showcase.html">Showcase Parallax</a>
              <a class="dropdown-item" href="vie-dark/showcase4.html">Showcase Carousel</a>
              <a class="dropdown-item" href="vie-dark/showcase3.html">Showcase Circle</a>
              <a class="dropdown-item" href="vie-dark/works.html">Portfolio Masonry</a>
              <a class="dropdown-item" href="vie-dark/works2.html">Portfolio Filtering</a>
              <a class="dropdown-item" href="vie-dark/works3.html">Portfolio Gallery</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
            aria-haspopup="true" aria-expanded="false">Blog</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="vie-dark/blog.html">Blog Standerd</a>
                <a class="dropdown-item" href="vie-dark/blog-list.html">Blog List</a>
                <a class="dropdown-item" href="vie-dark/blog-grid.html">Blog Grid</a>
                <a class="dropdown-item" href="vie-dark/blog-details.html">Blog Details</a>
            </div>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/register_item">Register Items</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- ==================== End Navbar ==================== -->
>>>>>>> 297eeb63c9514df4c29feb256ee749b8a8f024c4

  
  <!-----------------------------รอเฉียงทำเสร็จแล้วเอามาใส่ในนี้---------------------------->


  <!--------------------------register item part------------------------>
  <div class="main-content">

    <!-- ==================== Start Contact ==================== -->
    <section class="contact section-padding">
<<<<<<< HEAD
      <div class="container">
        <div class="row">
          <div class="col-lg-5 offset-lg-1">
            <div class="cont-info">
              <form action="/register_item_db" method="post">
                <h4 class="fw-700 color-font mb-50">Import pictures items</h4>
                <!--Column1 add picc-->
                <div class="mb-4 d-flex justify-content-center">
                  <img src="https://mdbootstrap.com/img/Photos/Others/placeholder.jpg" alt="example placeholder" style="width: 300px;" />
                </div>
                <div class="d-flex justify-content-center">
                  <div class="d-flex justify-content-center">
                    <div class="btn btn-primary btn-rounded">
                      <input type="file" name="item_pic" id="item_pic" >
                    </div>
                  </div>
                </div>                  
=======
        <div class="container">
            <div class="row">
                <div class="col-lg-5 offset-lg-1">
                    <div class="cont-info">
                        <h4 class="fw-700 color-font mb-50">Import pictures items</h4>
                        <!--Column1 add picc-->
                        <div class="mb-4 d-flex justify-content-center">
                          <img src="https://mdbootstrap.com/img/Photos/Others/placeholder.jpg"
                          alt="example placeholder" style="width: 300px;" />
                        </div>
                        <div class="d-flex justify-content-center">
                          <form action="/stats" enctype="multipart/form-data" method="post">
                            <div class="d-flex justify-content-center">
                              <div class="btn btn-primary btn-rounded">
                                  <input type="file" name="item_pic" id="item_pic" >
                                  <!-- <label class="form-label text-white m-1" for="customFile1">Add Image</label>
                                  <input type="file" class="form-control d-none" id="customFile1" name="item_pic" /> -->
                              </div>
                            </div>
                          </form>
                        </div>                  
                    </div>
                </div>

                <div class="col-lg-6">
                  <div class="form md-mb50">

                      <h4 class="fw-700 color-font mb-50">Item Information</h4>
                      <form id="contact-form" method="post" action="contact.php">

                          <div class="messages"></div>

                          <div class="controls">

                              <div class="form-group">
                                  <input id="form_name" type="text" name="name" placeholder="Item Name"
                                      required="required">
                              </div>
                              <div class="form-group">
                                  <textarea id="form_message" name="message" placeholder="Item Description" rows="4"
                                      required="required"></textarea>
                              </div>
                          </div>
                      </form>
                  </div>
                </div>
>>>>>>> 297eeb63c9514df4c29feb256ee749b8a8f024c4
            </div>
          </div>

<<<<<<< HEAD
          <div class="col-lg-6">
            <div class="form md-mb50">
              <h4 class="fw-700 color-font mb-50">Item Information</h4>
              <div class="messages"></div>
              <div class="controls">
                <div class="form-group">
                  <input id="form_name" type="text" name="item_name" placeholder="Item Name" required="required">
                </div>
                <div class="form-group">
                  <textarea id="form_message" name="item_descrip" placeholder="Item Description" rows="4" required="required"></textarea>
                </div>
              </div>
            </div>
          </div>

            <!-----------------------------------scar description------------------------------------->
          <div class="row">
            <div class="col-lg-5 offset-lg-1">
              <div class="cont-info">
                <h4 class="fw-700 color-font mb-50">Import Pictures Scar</h4>
                <!--Column1 add picc-->
                <div class="col">
                  <div>
                    <div class="mb-4 d-flex justify-content-center">
                      <img src="https://mdbootstrap.com/img/Photos/Others/placeholder.jpg" alt="example placeholder" style="width: 300px;" />
                    </div>
                    <div class="d-flex justify-content-center">
                      <div class="btn btn-primary btn-rounded">
                        <input type="file" name="scar_pic" id="scar_pic" >
                        <!-- <label class="form-label text-white m-1" for="customFile1">Add Image</label>
                        <input type="file" class="form-control d-none" id="customFile1" name="item_pic" /> -->
                      </div>
                    </div>
                  </div>
                </div>                 
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form md-mb50">
                <h4 class="fw-700 color-font mb-50">Type of scar</h4>
                <div class="messages"></div>
                <div class="controls">
                  <div class="form-group">
                    <input id="form_name" type="text" name="name" placeholder="Your Scar" required="required">
                  </div>
                  <div class="form-group">
                    <textarea id="form_message" name="scar_descrip" placeholder="Scar Description" rows="4" required="required"></textarea>
                  </div>
                </div>
              </div>
            </div>

=======
            <!-----------------------------------scar description------------------------------------->
            <div class="row">
              <div class="col-lg-5 offset-lg-1">
                  <div class="cont-info">
                      <h4 class="fw-700 color-font mb-50">Import Pictures Scar</h4>
                      <!--Column1 add picc-->
                      <div class="col">
                        <div>
                          <div class="mb-4 d-flex justify-content-center">
                              <img src="https://mdbootstrap.com/img/Photos/Others/placeholder.jpg"
                              alt="example placeholder" style="width: 300px;" />
                          </div>


                          <form action="/stats" enctype="multipart/form-data" method="post">
                            <div class="d-flex justify-content-center">
                              <div class="btn btn-primary btn-rounded">
                                  <input type="file" name="item_pic" id="item_pic" >
                                  <!-- <label class="form-label text-white m-1" for="customFile1">Add Image</label>
                                  <input type="file" class="form-control d-none" id="customFile1" name="item_pic" /> -->
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>                 
                  </div>
              </div>
              <div class="col-lg-6">
                <div class="form md-mb50">

                    <h4 class="fw-700 color-font mb-50">Type of scar</h4>
                    <form id="contact-form" method="post" action="contact.php">

                        <div class="messages"></div>

                        <div class="controls">

                            <div class="form-group">
                                <input id="form_name" type="text" name="name" placeholder="Your Scar"
                                    required="required">
                            </div>
                            <div class="form-group">
                                <textarea id="form_message" name="message" placeholder="Scar Description" rows="4"
                                    required="required"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
              </div>
          </div>

>>>>>>> 297eeb63c9514df4c29feb256ee749b8a8f024c4
          <!-------------------------------price for bid------------------------------>
          <div class="row">
            <div class="col-lg-5 offset-lg-1">
              <div class="form md-mb50">
<<<<<<< HEAD
=======
                  <form id="contact-form" method="post" action="contact.php">
                  </form>
>>>>>>> 297eeb63c9514df4c29feb256ee749b8a8f024c4
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form md-mb50">
<<<<<<< HEAD
                <h4 class="fw-700 color-font mb-50">Price</h4>
                <div class="messages"></div>
                <div class="controls">
                  <div class="form-group">
                    <input id="form_name" type="number" name="begin_price" placeholder="Begin price" required="required">
                  </div>
                  <div class="form-group">
                    <input id="form_name" type="number" name="min_bid" placeholder="Minimum bid price" required="required">
                  </div>
                  <div class="form-group">
                    <input id="form_name" type="number" name="min_sell" placeholder="Maximum selling price" required="required">
                  </div>                
                </div>
                <div class="controls">
                  <button type="submit" class="butn bord"><span>Submit</span></button>
                  <button type="" class="butn bord"><span>More Items</span></button>
                </div>
              </form>
          </div>
        </div>
      </div>
    </section>
  </div>
=======
>>>>>>> 297eeb63c9514df4c29feb256ee749b8a8f024c4

                  <h4 class="fw-700 color-font mb-50">Price</h4>
                  <form id="contact-form" method="post" action="contact.php">

                      <div class="messages"></div>

                      <div class="controls">

                          <div class="form-group">
                              <input id="form_name" type="number" name="name" placeholder="Begin price"
                                  required="required">
                          </div>
                          <div class="form-group">
                            <input id="form_name" type="number" name="name" placeholder="Minimum bid price"
                                required="required">
                        </div>
                        <div class="form-group">
                          <input id="form_name" type="number" name="name" placeholder="Maximum selling price"
                              required="required">
                        </div>                
                      </div>
                      <div class="controls">
                        <button type="submit" class="butn bord"><span>Submit</span></button>
                        <button type="submit" class="butn bord"><span>More Items</span></button>
                      </div>
                  </form>
              </div>
            </div>
        </div>
    </section>
  </div>












  <script src="vie-dark/js/bootstrap.min.js"></script>  
  
  
  
  <!-- jQuery -->
  <script src="vie-dark/js/jquery-3.0.0.min.js"></script>
  <script src="vie-dark/js/jquery-migrate-3.0.0.min.js"></script>

  <!-- plugins -->
  <script src="vie-dark/js/plugins.js"></script>

  <!-- custom scripts -->
  <script src="vie-dark/js/scripts.js"></script>











  <script src="vie-dark/js/bootstrap.min.js"></script>  
  
  
  
  <!-- jQuery -->
  <script src="vie-dark/js/jquery-3.0.0.min.js"></script>
  <script src="vie-dark/js/jquery-migrate-3.0.0.min.js"></script>

  <!-- plugins -->
  <script src="vie-dark/js/plugins.js"></script>

  <!-- custom scripts -->
  <script src="vie-dark/js/scripts.js"></script>

  <script>  
    $(document).ready(function(){  
          $('#insert').click(function(){  
              var image_name = $('#image').val();  
              if(image_name == '')  
              {  
                    alert("Please Select Image");  
                    return false;  
              }  
              else  
              {  
                    var extension = $('#image').val().split('.').pop().toLowerCase();  
                    if(jQuery.inArray(extension, ['gif','png','jpg','jpeg']) == -1)  
                    {  
                        alert('Invalid Image File');  
                        $('#image').val('');  
                        return false;  
                    }  
              }  
          });  
    });  
    </script>

</body>
</html>

