<!Doctype html>
<html>
<head>
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="mystyle.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
  </script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style type="text/css">
</style>

<!--contact vie-dark-->
<!-- Metas -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<meta name="keywords" content="HTML5 Template Vie onepage themeforest" />
<meta name="description" content="Vie - Onepage Multi-Purpose HTML5 Template" />
<meta name="author" content="" />




<!-- Title  -->
<title>BidslerEdge</title>

<!-- Favicon -->
<link rel="shortcut icon" href="vie-dark/img/favicon.ico" />

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
    rel="stylesheet">
<link
    href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">

<!-- Plugins -->
<link rel="stylesheet" href="vie-dark/css/plugins.css" />

<!-- Core Style Css -->
<link rel="stylesheet" href="vie-dark/css/style.css" />

<!------------------index 5----------------------->
<!-- Metas -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<meta name="keywords" content="HTML5 Template Vie onepage themeforest" />
<meta name="description" content="Vie - Onepage Multi-Purpose HTML5 Template" />
<meta name="author" content="" />

<!-- Title  -->
<title>BidslerEdge</title>

<!-- Favicon -->
<link rel="shortcut icon" href="vie-dark/img/favicon.ico" />

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
    rel="stylesheet">
<link
    href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">

<!-- Plugins -->
<link rel="stylesheet" href="vie-dark/css/plugins.css" />

<!-- Core Style Css -->
<link rel="stylesheet" href="vie-dark/css/style.css" />




<!---------------------- upload pictures-------------------->
<link
      class="jsbin"
      href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css"
      rel="stylesheet"
      type="text/css"
    />
    <script
      class="jsbin"
      src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"
    ></script>
    <script
      class="jsbin"
      src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"
    ></script>
    <meta charset="utf-8" />
    <title>JS Bin</title>
    <!--[if IE]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <style>
      article,
      aside,
      figure,
      footer,
      header,
      hgroup,
      menu,
      nav,
      section {
        display: block;
      }
    </style>

</head>
<body>
  <!-- ==================== Start Loading ==================== -->

  <div class="loading">
    <span>L</span>
    <span>o</span>
    <span>a</span>
    <span>d</span>
    <span>i</span>
    <span>n</span>
    <span>g</span>
  </div>

  <div id="preloader">
  </div>

  <!-- ==================== End Loading ==================== -->


  <!-- ==================== Start progress-scroll-button ==================== -->

  <div class="progress-wrap cursor-pointer">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
    </svg>
  </div>

  <!-- ==================== End progress-scroll-button ==================== -->


  <!-- ==================== Start cursor ==================== -->

  <div class="mouse-cursor cursor-outer"></div>
  <div class="mouse-cursor cursor-inner"></div>

  <!-- ==================== End cursor ==================== -->



  
  <!-----------------------------รอเฉียงทำเสร็จแล้วเอามาใส่ในนี้---------------------------->


  <!--------------------------register item part------------------------>
  <div class="main-content">

    <!-- ==================== Start Contact ==================== -->
    <section class="contact section-padding">

      <div class="container">
        <div class="row">
          <div class="col-lg-5 offset-lg-1">
            <div class="cont-info">
              <form action="/register_item_db" method="post">
                <h4 class="fw-700 color-font mb-50">Import pictures items</h4>

                <div class="mb-4 d-flex justify-content-center">
                  <img src="https://mdbootstrap.com/img/Photos/Others/placeholder.jpg" alt="example placeholder" style="width: 300px;" />
                </div>
                <div class="d-flex justify-content-center">
                  <div class="d-flex justify-content-center">
                    <div class="btn btn-primary btn-rounded">

                    </div>
                  </div>
                </div>
              </div>
            </div>
    
            <div class="col-lg-6">
              <div class="form md-mb50">
                <h4 class="fw-700 color-font mb-50">Item Information</h4>
                <div class="messages"></div>
                <div class="controls">
                  <div class="form-group">
                    <input id="item_name" type="text" name="item_name" placeholder="Item Name" required="required">
                  </div>
                  <div class="form-group">
                    <textarea id="item_description" name="item_description" placeholder="Item Description" rows="4" required="required"></textarea>
                  </div>
                </div>

            </div>
          </div>


          <div class="row">
            <div class="col-lg-5 offset-lg-1">
              <div class="cont-info">
                <h4 class="fw-700 color-font mb-50">Import Pictures Scar</h4>

                <div class="col">
                  <div>
                    <div class="mb-4 d-flex justify-content-center">
                      <img src="https://mdbootstrap.com/img/Photos/Others/placeholder.jpg" alt="example placeholder" style="width: 300px;" />
                    </div>
                    <div class="d-flex justify-content-center">
                      <div class="btn btn-primary btn-rounded">

                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form md-mb50">
                <h4 class="fw-700 color-font mb-50">Type of scar</h4>
                <div class="messages"></div>
                <div class="controls">
                  <div class="form-group">
                    <input id="scar_name" type="text" name="scar_name" placeholder="Your Scar" required="required">
                  </div>
                  <div class="form-group">
                    <textarea id="scar_description" name="scar_description" placeholder="Scar Description" rows="4" required="required"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-------------------------------price for bid------------------------------>
          <div class="row">
            <div class="col-lg-5 offset-lg-1">
              <div class="form md-mb50">

    
          <div class="row">
            <div class="col-lg-5 offset-lg-1">
              <div class="form md-mb50">

              </div>
            </div>
            <div class="col-lg-6">
              <div class="form md-mb50">

                <h4 class="fw-700 color-font mb-50">Price</h4>
                <div class="messages"></div>
                <div class="controls">
                  <div class="form-group">

                </div>
                <div class="controls">
                  <button type="submit" class="butn bord"><span>Submit</span></button>
                  <button type="" class="butn bord"><span>More Items</span></button>
                </div>
              </form>


                  <h4 class="fw-700 color-font mb-50">Price</h4>
                  <form id="contact-form" method="post" action="contact.php">

                      <div class="messages"></div>

                      <div class="controls">

                          <div class="form-group">
                              <input id="form_name" type="number" name="name" placeholder="Begin price"
                                  required="required">
                          </div>
                          <div class="form-group">
                            <input id="form_name" type="number" name="name" placeholder="Minimum bid price"
                                required="required">
                        </div>
                        <div class="form-group">
                          <input id="form_name" type="number" name="name" placeholder="Maximum selling price"
                              required="required">
                        </div>                
                      </div>
                      <div class="controls">
                        <button type="submit" class="butn bord"><span>Submit</span></button>
                        <button type="submit" class="butn bord"><span>More Items</span></button>
                      </div>
                  </form>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>












  <script src="vie-dark/js/bootstrap.min.js"></script>  
  
  
  
  <!-- jQuery -->
  <script src="vie-dark/js/jquery-3.0.0.min.js"></script>
  <script src="vie-dark/js/jquery-migrate-3.0.0.min.js"></script>

  <!-- plugins -->
  <script src="vie-dark/js/plugins.js"></script>

  <!-- custom scripts -->
  <script src="vie-dark/js/scripts.js"></script>

  <script>  
    $(document).ready(function(){  
          $('#insert').click(function(){  
              var image_name = $('#image').val();  
              if(image_name == '')  
              {  
                    alert("Please Select Image");  
                    return false;  
              }  
              else  
              {  
                    var extension = $('#image').val().split('.').pop().toLowerCase();  
                    if(jQuery.inArray(extension, ['gif','png','jpg','jpeg']) == -1)  
                    {  
                        alert('Invalid Image File');  
                        $('#image').val('');  
                        return false;  
                    }  
              }  
          });  
    });  
    </script>










  <script src="vie-dark/js/bootstrap.min.js"></script>  
  
  
  
  <!-- jQuery -->
  <script src="vie-dark/js/jquery-3.0.0.min.js"></script>
  <script src="vie-dark/js/jquery-migrate-3.0.0.min.js"></script>

  <!-- plugins -->
  <script src="vie-dark/js/plugins.js"></script>

  <!-- custom scripts -->
  <script src="vie-dark/js/scripts.js"></script>

  <script>  
    $(document).ready(function(){  
          $('#insert').click(function(){  
              var image_name = $('#image').val();  
              if(image_name == '')  
              {  
                    alert("Please Select Image");  
                    return false;  
              }  
              else  
              {  
                    var extension = $('#image').val().split('.').pop().toLowerCase();  
                    if(jQuery.inArray(extension, ['gif','png','jpg','jpeg']) == -1)  
                    {  
                        alert('Invalid Image File');  
                        $('#image').val('');  
                        return false;  
                    }  
              }  
          });  
    });  
    </script>

</body>
</html>

