<!DOCTYPE html>
<html lang="zxx">
<head>
  
    <!-- Metas -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="keywords" content="HTML5 Template Vie onepage themeforest" />
    <meta name="description" content="Vie - Onepage Multi-Purpose HTML5 Template" />
    <meta name="author" content="" />

    <!-- Title  -->
    <title>Vie</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="img/favicon.ico" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
        rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Khand:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap"
        rel="stylesheet">


    <!-- Plugins -->
    <link rel="stylesheet" href="vie-dark/css/plugins.css" />

    <!-- Core Style Css -->
    <link rel="stylesheet" href="vie-dark/css/style.css" />

    <!-- Arch style -->
    <link rel="stylesheet" href="vie-dark/css/arch-skin.css" />


</header>
<body class="position-r">
 <!-- ==================== Start Loading ==================== -->

    <div class="loading">
        <span>L</span>
        <span>o</span>
        <span>a</span>
        <span>d</span>
        <span>i</span>
        <span>n</span>
        <span>g</span>
    </div>

    <div id="preloader">
    </div>

<!-- ==================== End Loading ==================== -->

        <!-- ==================== Start Contact ==================== -->

        <section class="contact-sec style2 section-padding position-re bg-img" data-background="img/patrn1.png" data-scroll-index="7">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-md-10">
                        <div class="sec-head  text-center">
                            <h2 class="wow fadeIn" data-wow-delay=".3s">Register</h2>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-10">
                        <div class="form wow fadeInUp" data-wow-delay=".5s">
                            <form name="loginform" id="loginform" method ="post" action="/register_db">
    
                                <div class="messages"></div>
    
                                <div class="controls">
    
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label><b>Username</b></label>
                                                <input type="text" placeholder="Enter Username" name="username" id="login_user_name" maxlength="20" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label><b>First name</b></label>
                                                <input type="firstname" placeholder="Enter First Name" name="firstname" id="login_user_password" maxlength="25" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label><b>Last Name</b></label>
                                                <input type="lastname" placeholder="Enter Last Name" name="lastname" id="login_user_password" maxlength="25" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label><b>Citizen ID</b></label>
                                                <input type="citiid" placeholder="Enter ID" name="critizenID" id="login_user_password" maxlength="25" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label><b>Email</b></label>
                                                <input type="email" placeholder="Enter Email" name="email" id="login_user_password" maxlength="25" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label><b>Phone</b></label>
                                                <input type="phone" placeholder="Enter your phone number" name="phone" id="login_user_password" maxlength="25" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label><b>Password</b></label>
                                                <input type="password" placeholder="Enter Password" name="passwd" id="login_user_password" maxlength="25" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label><b>Confirm Password</b></label>
                                                <input type="password" placeholder="Enter Password" name="cpasswd" id="login_user_password" maxlength="25" required>
                                            </div>
                                        </div>
                                    </div>
                                        <div class="col-12">
                                        <div class="text-center">
                                            <input type="submit" class="butn light mt-30 full-width" value = "Register" >
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    
        <!-- ==================== End Contact ==================== -->

 
<!-- jQuery -->
<script src="vie-dark/js/jquery-3.0.0.min.js"></script>
<script src="vie-dark/js/jquery-migrate-3.0.0.min.js"></script>

<!-- plugins -->
<script src="vie-dark/js/plugins.js"></script>

<!-- custom scripts -->
<script src="vie-dark/js/scripts.js"></script>
</body>
 
</html>
