<form  action="/open_room_db"  method="post">
    <h2>Addition</h2>
    <label>Time Open</label>
    <input type="time" style="width:30em;" name="time_open">
        <br>
    <label>Time Close</label>
    <input type="time" style="width:30em;" name="time_close_door">
    <br>
    <label>Time Finish</label>
    <input type="time" style="width:30em;" name="time_finish">
    <br>
    <label>Date</label>
    <input type="date" style="height: 15em; width:30em;" name="auction_day">
    <br>		<br>
    <div class="center">
      
        <input class="btn btn-custom mt-3" type="submit" name="submit" id="submit" value="Add" >			
    </div>
</form>